*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;  
}
body{
    background: url("bg.svg")  ;
 }
 .logo img{
    width: 150px;
height: 50px;
position: relative;
top: -300px;
 }
 .box img{
    width: 475px;
    height: 450px;
    
    padding-left: 55px;
 }
 .box2{
    background: white;
    width: 475px;
    height: 450px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px; }
 .heading h1{
    color: #44475b;
    text-align: center;
    margin-top: 50px;
 }
 .heading img{
    width: 24px;
    color: rgba(0, 0, 0, alpha);
    position: relative;
    top: 9px;
    left: 50px;
    
    
 }
 .text{
    background: #fff;
border: 0;
box-shadow: 0 2px 9px rgba(0,0,0,.1);
color: #44475b;
border-radius: 10px;
 
padding: 16px 113px; }
.box3{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 35px;}
.row{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.google-img{
    position: relative;
    top:12px;
    left: 105px;
}
hr{
    /* margin: 51px 25px 0 25px; */
}
.line{
    border: 1px solid #ecedef;
width: 64px;
height: 0;
margin-top: 8px;
}
.line2{
    border: 1px solid #ecedef;
width: 64px;
height: 0;
margin-top: 8px;
}
.row-hr{
    display: flex;
justify-content: center;
align-items: center;
margin-top: 25px;
}
.or{
    padding: 25px 79px 25px 111px;
text-align: center;
}
input{
    border-top: 0;
border-left: 0;
border-right: 0;
outline: 0;
border-color: black;
border-bottom: 1px solid;
padding: 13px 61px;
}
 
.box4 button{
    background: #00d09c;
    border: 0;
    padding: 16px 113px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    margin-top: 25px;
}

.box4{
    display: flex;
 justify-content: center;
 align-content: center;
 align-items: center;
 text-align: center;
}
.link2{
    margin-top: 25px;
    color: #7c7e8c;
}
.link2 p a{
    font-size: 12px;
    color: #7c7e8c;
    text-decoration-color: #44475b;
}
 
.simple-text{
    position: absolute;
top: 9%;
left: 105px;
color: white;
font-weight: 500;
font-size: 19px;
}